.DS_Store
*.log
*.psd
*.PSD
storage/cms/disabled.json
storage/cms/cache/*
storage/framework/classes.php
storage/framework/services.php
storage/framework/cache/*
storage/temp/public/*
storage/cms/twig/*
storage/cms/*
storage/framework/sessions
storage/framework/*
plugins/*
themes/offline-oc-mall-theme
themes/vojtasvoboda-newage
themes/werebells-mall