<!doctype html>
<html lang="sl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order Invoice</title>
    <style>
        {% partial 'mallPDF/order/styles.css' %}
    </style>
</head>
<body>

<h1>Rockstock d.o.o.</h1>
<p>
    Breg pri Borovnici 56 b, 1353 Borovnica, Slovenia<br>
    e-mail: rockstock@siol.net, GSM: +386 (0)41 674 500<br>
    ID DDV/VAT: SI52640230, Maticna št./Reg. Number: 1196251<br>
    <a href="https://www.coronamaska.si/storage/app/media/splosni-pogoji-poslovanja-rockstock.pdf" target="_blank">Splošni pogoji</a>
</p>

<br>

<p>Pozdravljen/a {{ order.customer.firstname }}!</p>

<p>Zahvaljujemo se vam za narocilo. Spodaj je spisek naročenih artiklov:</p>

{% partial 'mallPDF/order/table' products=order.products %}

</body>
</html>