<footer class="footer text-sm py-8 border-solid border-t border-smoke-light">
    <div class="container mx-auto text-center">
        Za nakup po povzetju pošljite e-mail naročilo na <a href="mailto:info.coronamaska@gmail.com">info.coronamaska@gmail.com</a>.<br>
        Cena pošiljanja 1-2 vrečki (25-50 kos mask) je 2,5 Eur<br><br>
    </div>
    <div class="container mx-auto text-center text-grey-dark">
        Rockstock d.o.o. |        
        e-mail: <a href="mailto:rockstock@siol.net">rockstock@siol.net</a> |
        <a href="/storage/app/media/splosni-pogoji-poslovanja-rockstock.pdf" target="_blank">Splošni pogoji</a>
    </div>
</footer>